.introduction {
    text-align: center;
    margin-bottom: 20px;
    
    
}

.introduction h3 {
    font-size: 1rem;
    color: #ffb7ce;
    margin-bottom: 0;
}

.introduction h2 {
    font-size: 3rem;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #fcb5d3, #f581a4, #fc5b9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 2s ease-in-out infinite alternate;
}

.introduction p {
    font-size: 16px;
    color: #7A1F47;
    margin-top: 20px;
}

.introduction-pic {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centering the container */
    margin-top: 100px;
    
}

.profile-image {
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .introduction, .introduction-pic {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}

/* For larger screens */
@media (min-width: 768px) {
    #home {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .introduction {
        text-align: left;
        max-width: 40%;
        
    }

    .introduction h3, .introduction h2, .introduction p {
        text-align: center;
    }
    .introduction-pic {
        max-width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; /* Centering the container */
        margin-top: 30px;
    }

    .profile-image {
        max-width: 100%;
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #fcb5d3, 0 0 10px #f581a4, 0 0 20px #fc5b9e;
    }
    100% {
        text-shadow: 0 0 20px #fdc1da, 0 0 30px #f38baa, 0 0 50px #fa6ca7;
    }
}